<!DOCTYPE html>
<html layout:decorate="/template.html">
<head>
<meta charset="UTF-8">
<title>Search</title>
</head>
<body layout:fragment="body">
<a th:href="@{/course/create}" > Create Course </a>
<div class="row">
	<div th:each="course : ${courseList}" class="col-4 card">
		<p th:text=" 'Course Id: ' +  ${course.id}">
		<p th:text=" 'Course Name: ' +  ${course.name}">
		<div>
			<a th:href="@{'/course/edit?id=' + ${course.id}}"> Edit</a>
			<a th:href="@{'/course/delete?id=' + ${course.id}} "> Delete</a>
		</div>
	
	</div>
</div>
</body>
</html>