<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Create Score</title>
</head>
<body>
	<form action="/score/create" method="post">
		<div>
			<label for="student.studentId"> Select StudentId:</label><br> 
			<select name="student.studentId">
					<option value="">-----Chon----</option>
	
					<option th:each="student : ${studentList}" th:value="${student.studentId}"></option>
			</select><br>
		</div>
		<div>
			<label for="course.id"> Select Course:</label><br> 
				<select name="course.id">
					<option value="">-----Chon----</option>
	
					<option th:each="course : ${courseList}" th:value="${course.id}"></option>
				</select><br>
		</div>
		<div>
		<label for="score"> Score:</label><br> 
			<input placeholder="Score" name="score" class="form-control"><br>
		</div>

		<button type="submit" th:text="#{button.save}">SAVE</button>
	</form>
</body>
</html>