<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Create Score</title>
</head>
<body>
	<form action="/score/create" method="post">

		<label for="student.studentId"> Student ID:</label><br> 
		<input placeholder="Student ID" name="student.studentId"><br>
		
		<label for="course.id"> Course Id:</label><br> 
		<input placeholder="Course Id" name="course.id"><br>
		
		<label for="score"> Score:</label><br> 
		<input placeholder="Score" name="score"><br>
		

		<button type="submit">SAVE</button>
	</form>
</body>
</html>