<!DOCTYPE html>
<html layout:decorate="/template.html">
<head>
<meta charset="UTF-8">
<title>Search</title>
</head>
<body layout:fragment="body">
<a th:href="@{/score/create}" > Create Score </a>
	<div th:each="score : ${scoreList}" class="col-4 card">
		<p th:text=" 'Score Id: ' +  ${score.id}">
		<p th:text=" 'Score: ' +  ${score.name}">
		<p th:text=" 'Student Id: ' +  ${score.student.studentId}">
		<p th:text=" 'Course: ' +  ${score.course.id}">
		
		<div>
			<a th:href="@{'/score/edit?id=' + ${score.id}}"> Edit</a>
			<a th:href="@{'/score/delete?id=' + ${score.id}} "> Delete</a>
		</div>
	</div>
</div>
</body>
</html>