<!DOCTYPE html>
<html layout:decorate="/template.html">
<head>
<meta charset="UTF-8">
<title>Search</title>
</head>
<body layout:fragment="body">
<a th:href="@{/userrole/create}" > Create User Role </a>
<div class="row">
	<div th:each="userRole : ${userRoleList}" class="col-4 card">
		<p th:text=" 'User_id: ' +  ${userRole.userId}">
		<p th:text=" 'Role: ' +  ${userRole.role}">
		<div>
			<a th:href="@{'/userrole/edit?userId=' + ${userRole.userId}}"> Edit</a>
			<a th:href="@{'/userrole/delete?userId=' + ${userRole.userId}} "> Delete</a>
		</div>
	
	</div>
</div>
</body>
</html>