<!DOCTYPE html>
<html layout:decorate="template.html">
<head>
<meta charset="UTF-8">
<title>Edit</title>
</head>
<body layout:fragment="body">
	<form th:object="${product}" action="/product/edit" method="post">
		
			<div class="mb-3 mt-3">
				<label for="id"> ID:</label><br>
				<input class="form-control" readonly="readonly" th:field="*{id}" name="id">
			</div>
			
			<div class="mb-3 mt-3">
				<label for="name"> Name:</label><br>
				<input class="form-control" th:value="*{name}" name="name">
				<p th:errors="*{name}" />
			</div>
			<div class="mb-3 mt-3">
				<label for="price"> Price:</label><br>
				<input class="form-control"  th:field="*{price}" name="price">
			</div>
			
			<div class="mb-3 mt-3">
				<label for="descreption"> Descreption:</label><br>
				<input type="text" class="form-control"  th:field="*{description}" name="descreption">
			</div>
			<div class="mb-3 mt-3">
				<label for="file"> Image:</label><br>
				<input type="file" name="file">
			</div>
			<div>
				<label> Select Category:</label><br> 
				<select name="category.id">
					<option value="">-----Select----</option>
					    <option th:each="cate : ${categoryList}" th:value="${cate.id}" th:text="${cate.name}"></option>
				</select><br>
			</div>
			<button type="submit" th:text="#{button.save}"></button>
	</form>
</body>
</html>