<!DOCTYPE html>
<html layout:decorate="template.html">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Insert title here</title>
</head>
<body layout:fragment="body">

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Buy Price</th>
				<th>Quantity</th>
				<th>Tạm tính</th>
				<th>Other</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:if="${order} != null">
				<tr th:each="item : ${order.itemDTOs}">
					<form method="post" th:action="@{/client/update-cart}">
						<input type="hidden" th:value="${item.product.id}" name="prId">
					<td th:text="${item.product.name}"></td>
					<td th:text="${item.product.price}"></td>
					<td><input type="number" name="count" style="border: none"
						th:value="${item.number}" min="1" onchange="this.form.submit()" /></td>
					<td th:text="${item.number* item.product.price}"></td>
					<td><a class="btn btn-primary" th:href="@{#}"> <span
							class="glyphicon glyphicon-pencil"></span> EDIT
					</a> <a class="btn btn-primary" th:href="@{#}"> <span
							class="glyphicon glyphicon-remove"></span> DELETE
					</a></td>
					</form>
				</tr>
			</th:block>
		</tbody>
		<tfoot>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th>Tổng tiền</th>
		</tr>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			<th th:text="${sumTT}"></th>
		</tr>
		</tfoot>

	</table>
		<a th:href="@{/client/payment}" style="margin-left: 1012px" type="submit"
			class="btn btn-primary">Tạo đơn hàng</a>
</body>
</html>