<div th:fragment="menu-footer">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-3">
					<h4 class="title">Về FakeShopee</h4>
					<div class="content">
						<p>Cái tên FakeShopee được tạo ra rất ngẫu hứng, xuất phát từ
							“Chuỗi ngày u buồn về sự nghiệp, tương lai trong quá khứ của
							chính mình” – theo lời chia sẻ của FakeShopee's founder.</p>
						<div class="logo-footer hidden-xs">
							<a th:href="@{/home}" target="_blank"> <img
								th:src="@{/images/logobct.webp}" alt="Bộ Công Thương">
							</a>
						</div>

					</div>
				</div>
				<div class="col-md-3">
					<h4 class="title">Địa chỉ:</h4>
					<div class="content">
						<p class="content">
							<b>Hà Nội: </b> 48 Trần Cung, Nghĩa Tân, Nam Từ Liêm, Hà Nội
						</p>
						<p class="content">
							<b>Điện thoại: </b> 0877288886
						</p>
						<p class="content">
							<b>Email: </b> duc11399nt@gmail.com
						</p>

					</div>
				</div>
				<div class="col-md-3">
					<h4 class="title">Hỗ trợ khách hàng</h4>
					<ul>
						<li><a class="content" th:href="@{#}">Shop</a></li>

						<li><a class="content" th:href="@{#}">Hướng dẫn
								đặt hàng</a></li>

						<li><a class="content" th:href="@{#}">Chính
								sách và quy định</a></li>

						<li><a class="content" th:href="@{#}">Chính
								sách bảo mật</a></li>

						<li><a class="content" th:href=@{#}>Thông tin
								sở hữu</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h4 class="title">Chăm sóc khách hàng</h4>
					<p><i class="fa-solid fa-phone"> 0877288886</i></p>
					<p><i class="fa-solid fa-envelope"> duc11399nt@gmail.com</i></p>

					<h4 class="fa-solid">Follow Us</h4><br>

					<a style="margin: 5px auto;" type="button" th:href="@{#}"> <i
						style="color: black;" class="fa-brands fa-facebook"></i>
					</a> <a style="margin: 5px auto;" type="button" th:href="@{#}"> <i
						style="color: black; margin-left: 5px;"
						class="fa-brands fa-google"></i>
					</a> <a style="margin: 5px auto;" type="button" th:href="@{#}"> <i
						style="color: black;" class="fa-brands fa-twitter"></i>
					</a> <a style="margin: 5px auto;" type="button" th:href="@{#}"> <i
						style="color: black;" class="fa-brands fa-github"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>

</div>
